{% extends 'base.html' %}

{% block content %}
<h1>Новости</h1>
<div class="row">
    {% for item in news_list %}
    <div class="col-12 mb-4">
      <div class="card">
        {% if item.image %}
          <img src="{{ item.image.url }}" class="card-img-top" style="height: 200px; object-fit: cover;" alt="{{ item.title }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="text-muted">
            <small>Автор: {{ item.author.email|default:"Администрация" }} • {{ item.created_at|date:"d.m.Y" }}</small>
          </p>
          <p>{{ item.content|truncatewords:30 }}</p>
          <a href="{% url 'core:news_detail' item.id %}" class="btn btn-outline-primary">Читать далее</a>
        </div>
      </div>
    </div>
    {% empty %}
        <p>Новостей пока нет.</p>
    {% endfor %}
</div>
{% endblock %}