{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<h2>Личный кабинет</h2>
<div class="alert alert-info">
    Привет, <strong>{{ user.email }}</strong>!
</div>

<!-- Статистика -->
<div class="card mb-4">
    <div class="card-header bg-success text-white">
        <h5 class="mb-0">Ваша статистика</h5>
    </div>
    <div class="card-body">
        <p><strong>Пройдено тестов:</strong> {{ total_tests }}</p>
        <p><strong>Средний результат:</strong> {{ avg_percent }}%</p>
    </div>
</div>

<!-- Форма редактирования профиля -->
<div class="row">
  <div class="col-lg-6">
    <form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-success">Сохранить изменения</button>
</form>
  </div>
</div>
<hr>
<a href="{% url 'core:logout' %}" class="btn btn-outline-danger">Выйти</a>
{% endblock %}