{% extends 'base.html' %}
{% block content %}
<h2>{{ title }}</h2>
<p>Курс: <strong>{{ course.title }}</strong></p>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="mb-3">
    {{ form.title.label_tag }}
    {{ form.title }}
  </div>
  <div class="mb-3">
    {{ form.content.label_tag }}
    {{ form.content }}
  </div>
  <div class="mb-3">
    {{ form.video_file.label_tag }}
    {{ form.video_file }}
    {% if form.instance.video_file %}
      <div class="mt-2">
        <video controls width="300" style="border-radius: 8px;">
          <source src="{{ form.instance.video_file.url }}" type="video/mp4">
          Ваш браузер не поддерживает видео.
        </video>
      </div>
    {% endif %}
  </div>
  <div class="mb-3">
    {{ form.order.label_tag }}
    {{ form.order }}
  </div>
    <div class="mb-3">
    {{ form.video.label_tag }}
    {{ form.video }}
    {% if form.instance.video %}
      <div class="mt-2">
        <img src="{{ form.instance.video.url }}" alt="Текущее Видео" style="max-height: 200px;">
      </div>
    {% endif %}
  </div>
  <button type="submit" class="btn btn-primary">Сохранить урок</button>
  <a href="{% url 'moderation:lesson_list' course.id %}" class="btn btn-secondary">Отмена</a>
</form>


<script>
// Динамическое удаление карточки (для новых вопросов)
document.querySelectorAll('.card .btn-danger').forEach(btn => {
  btn.addEventListener('click', function() {
    this.closest('.card').remove();
  });
});
</script>
{% endblock %}