// 1. Переопределяем переменные ДО импорта Bootstrap
$primary: #2d2a1c;
$secondary: #5f5e5c;
$light: #e9e9e8;
$dark: #343a40;

$btn-transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out !default;

// Опционально: меняйте другие цвета
 
// 2. Импортируем весь Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

